.content {
  width: 80%;
  max-width: 1500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-top: 90px;
  margin-bottom: 50px;
}
.about-flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.profile-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex: 1;
  min-width: 50%;
}
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  margin-left: 40px;
}
.text-section {
  padding-left: 40px;
  line-height: 1.6;
  font-size: 18px;
}
.cv-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cv-image {
  max-width: 100%;
  max-height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.content p, .content h1 {
  color: white;
  margin-bottom: 20px;
  text-align: justify;
}
.content h1 {
  padding-left: 40px;
  font-weight: 700;
}
.cv-download {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.cv-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  transition: .5s;
}
.cv-button:hover {
  transform: scale(1.1);
  color: white;
  background-color: black;
}